.DS_Store
*.rbc
capybara-*.html
.rspec
/log
/tmp
/db/*.sqlite3
/public/system
/coverage/
/spec/tmp
.capistrano
**.orig
rerun.txt
pickle-email-*.html
/.bundle
/vendor/bundle

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

/vendor/assets/bower_components
*.bowerrc
bower.json
config/application.yml
config/database.yml
config/deploy.rb
config/deploy/production.rb
config/deploy/staging.rb
